{% assign pages_list = site.html_pages | sort:"nav_order" %}
<nav class="site-nav">
  <ul class="nav-list">
    {% for node in site.data.nav.docs %}
      <li class="nav-list-item{% if node.children %} has-children{% endif %}">
        {% if node.url %}
          <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
        {% else %}
          <span class="nav-list-link">{{ node.title }}</span>
        {% endif %}
        
        {% if node.children %}
          <ul class="nav-list nav-list-child">
            {% for child in node.children %}
              <li class="nav-list-item{% if child.children %} has-children{% endif %}">
                <a href="{{ child.url | relative_url }}" class="nav-list-link">{{ child.title }}</a>
                
                {% if child.children %}
                  <ul class="nav-list nav-list-grandchild">
                    {% for grandchild in child.children %}
                      <li class="nav-list-item">
                        <a href="{{ grandchild.url | relative_url }}" class="nav-list-link">{{ grandchild.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>